<% provide(:title, "Categories") %>
<div>
  <% @categories.each do |category| %>
    <div>  
     <span class="content">   
      <h2><i class = "glyphicon glyphicon-book"></i> <%= category.name %></h2>  
        <% if current_user.lesson_words.in_category(category).count > 0 %>      
          <h6 ><font size="2"color="red">
            Learned <%= current_user.lesson_words.in_category(category).count %> 
            / <%= category.words.count %> words
          </font></h6>
        <% end %>

        <caption><%= category.description %></caption>   

        <% if category.words.count > 0%>
          <%= button_to "Start", {controller:"lessons", action: "create", category_id: category.id},
                                 class: "btn btn-primary btn-start-lesson" %>
        <% end %>  
      </span>
    </div>
  <% end %>
  </div>
  <div id="infinite-scrolling">
  <%= will_paginate %>
</div>