<!DOCTYPE html>
<html>
  <head>	
    <title>  	    
  	  <%= yield(:title) %> | E-Learning System
  	</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>    
    <%= render "layouts/shim" %>
    <%= favicon_link_tag "e-learning-system.ico" %>
  </head>
  <body>    
    <%= render("layouts/header") %>      
    <div class="container body">        
      <% flash.each do |message_type, message| %>        
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>      
      <%= yield %>   
    <%= render 'layouts/footer' %>
      </div>      
    </div>
  </body>
</html>
